@using TheLastChuyenTin.Repository
@inject ImageRepository ImageRepository

<div class="alert alert-info">
    <img src="/images/@ImageRepository.GetImageAt(ImageId)" />
</div>

@code {
    [Parameter]
    public int ImageId { get; set; }
}
