@page "/play"
@using TheLastChuyenTin.Repository

@inject ImageRepository ImageRepository

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Fuho</th><td>Hoàng Khiêm</td><td>Kiều My</td><td>Thu Trang</td><td>Nhật Hào</td><td>Quốc Bảo</td><td>Nhật Anh</td><td>Đông Triều</td><td>Hữu Phúc</td><td>Công Đạt</td><td>Trung Huy</td><td>Duy Thanh</td><td>Cô Tâm</td> 
    </tr>
    <tr>
      <th scope="row">Who R U</th><td>Kim Ngân</td><td>Tường Phúc</td><td>Duy Anh</td><td>Hồng Trinh</td><td>Văn Đạt</td><td>Minh Kha</td><td>Nhật Hiền</td><td>Nhã Thanh</td><td>Tuyết Sương</td><td>Công Bình</td><td>Bích Trâm</td>
    </tr>
    <tr>
      <th scope="row">Z-Dict</th><td>Triển Nguyên</td><td>Anh Lực</td><td>Ngọc Ánh</td><td>Đức Thành</td><td>Kim Chi</td><td>Vũ Hoàng</td><td>Thanh Duy</td><td>Anh Tuấn</td><td>Bảo Trân</td><td>Anh Quốc</td><td>Dương Khang</td><td>Hồng Thắm</td>
    </tr>    
    <tr>
      <th scope="row">Be Yourself</th><td>Mỹ Quỳnh</td><td>Xuân Phong</td><td>Thị Lý</td><td>Quốc Thắng</td><td>Thủy Tiên</td><td>Hữu Bằng</td><td>Phương Khánh</td><td>Huy Hải</td><td>Công Chính</td><td>Đức Hùng</td><td>Trung Vũ</td><td>Văn Tiến</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-info">
    <button @onclick="LetGo" class="btn btn-success">Let's Go</button> <button @onclick="Reset" class="btn btn-warning">Reset</button>
</div>
@if (count != -1)
{
    @if (count == key)
    {
        <MusicComp />
    }
    else
    {
        <ImageComp ImageId="@random.Next(0, ImageRepository.Total())" />
    }
}

@code {
    private Random random = new();
    private int count = -1;
    private int key = 3;

    private void LetGo()
    {
        if (count == 3)
        {
            Reset();
        }
        count++;
    }

    private void Reset()
    {
        count = -1;
        key = random.Next(0, 4);
    }
}
