@page "/rules"
<div class="alert alert-info">
    	Nhìn hình đoán tên + Nghe nhạc đoán tựa <br />
	Chia lớp thành 4 đội. ( sắp theo thứ tự 1,2,3,4) <br />
Các leader của các đội sẽ sắp xếp thứ tự (ngẫu nhiên, tùy ý) tên của các thành viên và đưa danh sách cho MC.  <br />
	Lần lượt các đội sẽ được đoán, bắt đầu từ đội 1 theo thứ tự thành viên trong danh sách ( ngẫu nhiên) vừa đưa cho MC, đến lượt ai người đó phải trả lời: <br />
a.	 Trả lời đúng đến người tiếp theo  <br />
b.	 Trả lời sai thì qua đội kế tiếp  <br />
	Tiếp tục chơi cho đến khi quay lại đội 1 thì bắt đầu tính từ người tiếp theo sau người đã trả lời sai của vòng trước. <br />
	Giới hạn thời gian trả lời:  <br />
a.	hình ảnh ( 5s ) – 1 điểm  <br />
b.	bài hát ( điểm tính theo từng mốc thời gian trả lời) <br />
i.	 5s đầu – 3 điểm, 10s – 2 điểm, 15s – 1 điểm  <br />
	Chơi đến khi nào hết thời gian 30p hoặc hết hình, nhạc. <br />
	Tổng kết ( 5p ) <br />
•	1 Nhất <br />
•	1 Nhì <br />
•	Hình thức phạt: ( bốc thăm test nhân phẩm ) <br />
o	Cả team set avt 1 ngày, đặt dưới chế độ công khai kèm caption: <br />
 “Cô Tâm ơi, cho con 1 ‘món ăn’ full topping nhaaaaaaa” ( thèm gì để đó ) <br />
o	Cả team hãy chọn 1 người đại diện hát 1 ca khúc, và những người còn lại của team cùng set avatar 1 ngày để dưới chế độ công khai ( bún đậu mắm tôm ) <br />
<h1>TRONG MỌI TRƯỜNG HỢP, QUYẾT ĐỊNH CỦA BTC LÀ QUYẾT ĐỊNH CUỐI CÙNG</h1>
</div>

@code {

}
