@page "/uploadimage"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@using TheLastChuyenTin.Repository
@inject IWebHostEnvironment Environment
@inject ImageRepository ImageRepository

<h3>Upload Files</h3>

<p>
    <label>
        Max file size:
        <input type="number" @bind="maxFileSize" />
    </label>
</p>

<p>
    <label>
        Max allowed files:
        <input type="number" @bind="maxAllowedFiles" />
    </label>
</p>

<p>
    <label>
        Upload up to @maxAllowedFiles of up to @maxFileSize bytes:
        <InputFile OnChange="@LoadFiles" multiple />
    </label>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <p>Done</p>
}

@code {
    private long maxFileSize = 1024 * 1024 * 60;
    private int maxAllowedFiles = 300;
    private bool isLoading = true;

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            var path = Path.Combine(Environment.WebRootPath, "images",
                    file.Name);

            await using FileStream fs = new(path, FileMode.Create);
            await file.OpenReadStream(maxFileSize).CopyToAsync(fs);

            ImageRepository.Add(file.Name);
        }

        isLoading = false;
    }
}
